.lists {
  display: flex;
  padding: 30px;
}

.list {
  border: 1px solid #ddd;
  border-radius: 3px;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 300px;
  min-width: 250px;
  padding: 15px;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.list-name {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .33px;
  text-transform: uppercase;

  a {
    color: darken(#b9d8eb, 25%);
  }
}

.list-actions {
  a {
    display: block;
  }
}
