.tasks {
  flex: 1;
  list-style: none;
  padding: 0;
}

.task-complete-checkbox {
  &:checked {
    ~ a {
      text-decoration: line-through;
    }
  }
}

.task {
  .due-date {
    background: rgba(0, 0, 0, .1);
    border-radius: 2px;
    color: rgba(0, 0, 0, .8);
    display: inline-block;
    font-size: 12px;
    margin: 0 .5em;
    padding: .25em .5rem;

    &.past-due {
      background: rgba(255, 0, 0, .2);
    }
  }
}

.task-complete-link {
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  height: 1rem;
  margin-right: .25rem;
  position: relative;
  vertical-align: middle;
  width: 1rem;

  &.complete {
    &::after {
      content: "✔";
      display: block;
      font-size: 1.3rem;
      left: 2px;
      line-height: 1rem;
      position: absolute;
      top: -2px;
    }
  }
}
